header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    padding: 10px 10%;  
    background-color: #3540a5;  
    border-radius: 5px;
    box-shadow: 1px 3px 3px 3px  rgb(87, 65, 214);
}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
    font-family: cursive;
    color: #e0e0e0;
}

.navlinks li a {
    font-family: cursive;
    font-size: 20px;
    color: #e0e0e0;
    transition: 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #ffffff;    
}
