<header>
    <img class="logo" src="/assets/img/logo.png" width="50" height="50" alt="logo">
    <nav>
        <ul class="navlinks">
            <li>
                <a href="/sobre" class="about">Sobre Nos</a>
            </li>
            <li>
<!--                 <a href="/fale-conosco" class="contactus">Fale conosco</a>
 -->            </li>
        </ul>
    </nav>
</header>

<div class="welcome">   
    <h1>Bem-vindo á Clinica <span>TOTI</span> </h1>
    <h2>Vôce quer AGENDAR uma Consulta???</h2>
</div>    
<div class="paginas">
    <div class="botao">
        <a href="/formulario" >Vamos Lá!</a>
    </div>
    <div class="goto">
        <a href="/clientes" >Clientes</a>
    </div>
</div>