<header>
    <img class="logo" src="/assets/img/logo.png" width="50" height="50" alt="logo">
    <nav>
        <ul class="navlinks">
            <li><a href="index.html" class="home">Início</a></li>
            <li><a href="/formulario" class="form">Formulário</a></li>
            <li><a href="/clientes" class="clients">Clientes</a></li>
<!--        <li><a href="/fale-conosco" class="contacts">Fale conosco</a></li>
 -->        </ul>
    </nav>
</header>

<div class="somos">
    <h1>Quem somos nós?</h1>
</div>
<div class="nos">
    <p>A Clínica TOTI foi inaugurada há mais de 12 anos para fornecer atendimento médico à comunidade <br> internacional.
        Oferecemos atendimento médico qualidade em um ambiente acolhedor e amigável.</p>
</div>
<div class="para0">
    <section >
        <img src="/assets/img/metodos.jpg" alt="metodos" height="200" width="300">
        <h2>NOSSOS MÉTODOS</h2>
        <p>Nós nos esforçamos para oferecer aos pacientes cuidados médicos confiáveis ​​em um ambiente <br> 
            profissional e amigável. Desde o agendamento até uma xícara de chá de boas-vindas, <br> 
            nossa equipe oferece um serviço caloroso e amigável.</p>
    </section>

    <section>
        <img src="/assets/img/pacientes.jpg" alt="pacientes" height="200" width="300">
        <h2>NOSSOS PACIENTES</h2>
        <p>Nossas clínicas se concentram em cuidar de toda a família. Temos uma Clínica Infantil com <br> 
            médicos pediatras treinados internacionalmente, especializados em problemas de saúde <br> 
            infantil agudos e crônicos.</p>
    </section>

    <section>
        <img src="/assets/img/medicos.webp" alt="medicos" height="200" width="300">
        <h2>NOSSOS MÉDICOS</h2>
        <p>Nossos médicos cuidadosamente selecionados vêm de todo o mundo e estão comprometidos com o <br> 
            atendimento integral ao paciente. Nossos médicos representam anos de experiência coletiva, <br> 
            especialização e o que há de melhor em interação e comprometimento médico-paciente.</p>
    </section>
</div>