header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 10%;  
    background-color: #3540a5;  
    border-radius: 5px;
    box-shadow: #3540a5;
    box-shadow: 1px 3px 3px 3px  rgb(87, 65, 214);
}


.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
    font-family: cursive;
    color: #e0e0e0;
}

.navlinks li a {
    font-family: cursive;
    font-size: 20px;
    color: #e0e0e0;
    transition: 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #ffffff;    
}

/*---------------------------------------------------------*/
/* ----------------Test page Form */ 
form h1 {
	font-size: 40px;
}

form label {
	font-size: 25px;
}

label {
    width: 620px;
    display: inline-block;
}

form div .input {
	margin: 4px;
	width: 300px;
	border: 2px solid dodgerblue;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	transition: .4s;
}

form div .input:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 15px  rgb(7, 87, 167);
}

form div .radio {
	margin: 20px;}

.iadade{
	width: 200px;
	padding: 10px;
	border: 2px solid dodgerblue;
	border-radius: 5px;
	margin-left: 6px;
}

#tipo{
	width: 200px;
	padding: 10px;
	border: 2px solid dodgerblue;
	border-radius: 5px;
	margin-left: 6px;
}

.datetime-local {
	width: 250px;
	border-radius: 5px;
	border: 2px solid dodgerblue;
	text-align: center;
	padding: 10px;
}
.agendar {
	display: block;
	margin: 20px auto;
    font-size: 35px;
	font-weight: 500;
	color: #e0e0e0;
/* --------------Gradient website : https://cssgradient.io/*/
    background: rgb(58,60,184);
    background: linear-gradient(90deg, rgba(58,60,184,1) 12%, rgba(34,60,153,1) 54%, rgba(30,19,201,1) 88%, rgba(39,28,224,1) 99%, rgba(0,67,255,0.47102591036414565) 100%);
    width: 250px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 10px 10px 16px #020069;
}
.agendar:hover {
	box-shadow: 0 0 40px #00695c;
}

.agendar a {
	color: inherit;
}