<header>
    <img class="logo" src="/assets/img/logo.png" width="50" height="50" alt="logo">
    <nav>
        <ul class="navlinks">
            <li><a href="index.html" class="home">Início</a></li>
            <li><a href="/clientes" class="clients">Clientes</a></li>
            <li><a href="/sobre" class="about">Sobre Nos</a></li>
<!--             <li><a href="/fale-conosco" class="contacts">Fale conosco</a></li>
 -->        </ul>
    </nav>
</header>

    <div>
        <form>
            <h1>Informações Privadas</h1>
            
            <div >
                <label for="nome">Nome</label>
                <input class="input" type="text" name="name" placeholder="Seu Nome">
            </div>

            <div>
                <label for="sobrenome">Sobrenome</label>
                <input class="input" type="text" name="name" placeholder="Seu Nome">
            </div>

            <div>
                <label for="idade">Idade</label> 
                <input class="iadade" type="number" min="16" max="75" placeholder="Entre16 e 75">
            </div>                

            <div>
                <label for="sexo">Sexo</label>
                <input class="radio" type="radio" name="sexo" value="M" checked="checked" /> Masculino
                <input class="radio" type="radio" name="sexo" value="F" /> Femenino
            </div>

            <div >
                <label for="tipo">Tipo de Sangue</label>
                <select name="tipo" id="tipo">
                    <option value="">Indefinido</option>
                    <option value="">A+</option>
                    <option value="">A-</option>
                    <option value="">B+</option>
                    <option value="">B-</option>
                    <option value="">O+</option>
                    <option value="">O-</option>
                    <option value="">AB+</option>
                    <option value="">AB-</option>
                </select>            
            </div>
    
            <div>
                <label for="doenca">Tem alguma Doença ?</label>
                <input class="radio" type="radio" name="doenca" value="no" checked/> NO.
                <input class="radio" type="radio" name="doenca" value="sim" /> YES.
            </div>
            <div>
                <input class="input" type="text" name="doencaa" placeholder="Qual tipo?" hidden>
            </div>
    
            <h1>Informações de Contato</h1>
            
            <div>
                <label for="email">E-mail</label>
                <input class="input" type= "email" name="email" id="email" placeholder="Seu Email"required>
            </div>

            <div>
                <label for="celular">Celular</label>
                <input class="input" type="text" name="celular" placeholder="Seu Fone">
            </div>
            <div>
                <label  for="cep">CEP</label>   
                <input class="input" type="text" name="cep" placeholder="Seu CEP"> 
            </div>
            <div>
                <label for="number" class="numero">N°</label>
                <input class="input" type="text" name="number" placeholder="Seu APT">
            </div>
            

            <h1>Escolhe uma Data</h1>

            <div>
                <input type="datetime-local" class="datetime-local" id="picker" value="2021-05-27T00:00" >
            </div>
               
            <div>    
                <button class="agendar"  type="submit"  name="agendar" >Agendar</button>   
            </div>       

        </form>
    </div>
